<h1>Api van lingo words</h1>
<h4>De volgende endpoints zijn beschikbaar</h4>
<ul>
    <li><a href="/Word"><strong>"/Word"</strong> Een willekeurig woord</a></li>
    <li><a href="/List"><strong>"/List"</strong> Lijst van woorden</a></li>
</ul>
<label>Je kan de taal van de woorden veranderen door de parameter "language" mee te geven. Deze staat standaard op "DUTCH"<br />Beschikbare talen: </label>
<ul>
    <li>Nederlands ( language=DUTCH )</li>
</ul>